aclocal.m4
autom4te.cache
autoregen.sh
autoscan.log
config.h
config.h.in
config.log
config.status
config.guess
configure.scan
config.sub
config.rpath
configure
libtool
stamp-h
stamp-h.in
stamp-h1
ltmain.sh
missing
mkinstalldirs
compile
install-sh
depcomp
autoregen.sh
ABOUT-NLS
.deps
.libs
*.lo
*.la
*.o
*~
/m4
/build*
/fuzz
*.spec
Makefile.in
Makefile
